h1 {
  color: #F2F4F3;
  font-size: 60px;
}
body {
  background-color: #5E503F
}
img {
  border: dashed 5px
}
img:hover {
  border:dotted 10px
}
h1:hover {
  color: #A5DFF
}
nav{
    list-style-type: none;
  position: fixed;
  background-color: #BCF4F5
  top: 0;
  width: 100%;
  left: 0;
}
li{
  diplay: inline;
  padding: 15px;
  float: left; 
}
li:hover {
  background-color:#EFC7E5 ;
}

a {
  text-decoration: none;
  color: #BCF4F5 ;
}
table{
  border: #BCF4F5 2px;
}
